header {
    background-color: white;
    position: fixed;
    width: auto 100%;
    text-align: center;
    padding-top: 20px;

}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    background: ("assets/images/nine.jpg");
    background-size: 100%;
    /* padding: 50px; */
    background-color: white;

}

/* two ideas that suck/dont work for background image?? */

/* #background {
    background-repeat: no-repeat;
} */

/* 
.card-body {
    background: url("assets/images/nine.jpg");
} */

.logo-img {
    float: left;
    position: initial;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 5%;
    background-color: transparent;
    border-color: transparent;
    color: whitesmoke;
    text-align: center;
}

.navigation {
    float: right;

}

h1 {
    font-weight: 700;
    text-align: center;
    font-size: 65px;
}

h2,
h3,
h5 {
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
}

#footer {
    position: fixed;
    text-align: center;
    padding-top: 1%;
    background-color: white;
    width: auto 100%;

}

.img {
    position: relative;
    width: auto 100%;
}

.container {
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0 auto;
}


#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: red;
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: red;
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: red;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}